/* header */
/* ============================================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: $baseColor;
  padding: 16px 70px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      margin-right: 20px;
      li {
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .contact_btn {
      a {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: $baseColor;
        background-color: $mainColor;
        padding: 18px 20px;
        box-sizing: border-box;
        border-radius: 30px;
        &:hover {
        opacity: .7;
        transition: all .3s ease-in-out;
        cursor: pointer;
        }
      }
    }
  }
}

/* top */
/* ============================================ */
.top {
  background: url(../images/top_bg_left.png) left 0% top 0% / 25% auto no-repeat,
    url(../images/top_bg_right.png) right 0% bottom 50px / 66% auto no-repeat;
  margin-top: 90px;
  .container {
    padding: 90px 80px 0;
  }
  &_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  &_left {
    .main_text {
      font-size: 5.8rem;
      font-weight: 900;
      letter-spacing: .8rem;
      line-height: 1.3;
      margin-bottom: 10px;
      .small {
        font-size: 5rem;
      }
      .blue {
        color: $mainColor;
      }
    }
    .area_list {
      display: flex;
      li {
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: .1rem;
        color: $mainColor;
        background-color: $baseColor;
        padding: 6px 10px;
        box-sizing: border-box;
        margin-right: 6px;
        box-shadow: 0 0 10px rgba($color: #3d8dac, $alpha: .2);
        border-radius: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  &_right {
    .achievement_list {
      display: flex;
      justify-content: space-between;
      li {
        margin-right: 12px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .bottom_area {
    position: relative;
    .sub_text {
      background-color: $baseColor;
      padding: 25px 30px;
      box-sizing: border-box;
      box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
      border-radius: 10px;
      position: relative;
      .title {
        display: flex;
        font-weight: 2.5rem;
        font-weight: bold;
        color: $mainColor;
        margin-bottom: 15px;
        &:before {
          content: url(../images/exclamation_icon.png);
          display: inline-block;
          margin-right: 7px;
        }
      }
      .text {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: -.03rem;
        line-height: 1.7;
      }
    }
    .contact_banner {
      box-shadow: 0 0 20px rgba($color: #3d8dac, $alpha: .2);
      position: absolute;
      top: 0;
      right: -210px;
      a:hover {
        opacity: .85;
        transition: all .3s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
