/* main */
/* ============================================ */
.content {
  .main_text {
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 40px;
  }
  .content_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 49%;
      height: 150px;
      background-color: $baseColor;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 15px;
      box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
      border-radius: 10px;
      .tag_area {
        display: flex;
        span {
          font-size: 1.2rem;
          font-weight: bold;
          color: $baseColor;
          padding: 3px 12px;
          box-sizing: border-box;
          margin-right: 5px;
          border-radius: 30px;
          &:last-of-type {
            margin-right: 0;
          }
          &.dark_blue {
            background-color: $subColor;
          }
          &.light_blue {
            background-color: #16cbe0;
          }
          &.green {
            background-color: #16e0b3;
          }
          &.black {
            background-color: #111;
          }
        }
      }
      .content_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        .name {
          font-size: 2.2rem;
          font-weight: bold;
          letter-spacing: -.2rem;
          width: 49%;
        }
        .price {
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1;
          width: 49%;
          padding-bottom: 10px;
          position: relative;
          .large {
            font-family: 'Oswald', sans-serif;
            font-size: 4.6rem;
            font-weight: 500;
          }
          .small {
            font-size: 1.2rem;
            font-weight: normal;
            position: absolute;
            bottom: -10px;
            left: 0;
          }
        }
      }
    }
  }
  .price_content {
    background-color: $baseColor;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
    border-radius: 10px;
    .title {
      display: flex;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 20px;
      &:before {
        content: url(../images/price_content_icon.png);
        display: inline-block;
        margin-right: 10px;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        font-size: 1.5rem;
        font-weight: 500;
        width: 58%;
        padding-left: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        position: relative;
        &:before {
          content: "";
          width: 11px;
          height: 11px;
          background-color: #aee5fc;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
        &:nth-of-type(even) {
          width: 40%;
        }
      }
    }
  }
}

.trouble {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 24%;
      position: relative;
      &:before {
        content: url(../images/question_icon.png);
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        border-radius: 10px;
        box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
      }
      p {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: .01rem;
        line-height: 1.3;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}

.point {
  ul {
    li {
      background-color: $baseColor;
      background-image: linear-gradient(125deg, $mainColor 160px, transparent 0);
      padding: 50px 40px;
      box-sizing: border-box;
      margin-bottom: 60px;
      box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
      border-radius: 10px;
      position: relative;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        content: url(../images/point_title1.png);
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:nth-of-type(2):before {
        content: url(../images/point_title2.png);
      }
      &:nth-of-type(3):before {
        content: url(../images/point_title3.png);
      }
      .sub_title {
        font-size: 2.6rem;
        font-weight: bold;
        letter-spacing: .01rem;
        text-align: center;
        margin-bottom: 30px;
        .large {
          font-family: 'Oswald', sans-serif;
          font-size: 3.6rem;
          font-weight: 500;
        }
      }
      .main_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        img {
          width: 48%;
          height: 280px;
          object-fit: cover;
          border-radius: 5px;
        }
        p {
          font-weight: 500;
          line-height: 1.8;
          letter-spacing: .03rem;
          width: 48%;
          .blue_marker {
            font-weight: bold;
          }
        }
      }
      .comment_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: #f6fdff;
        padding: 30px;
        box-sizing: border-box;
        border: 4px solid #e4f8ff;
        border-radius: 5px;
        img {
          width: 20%;
          height: 170px;
          object-fit: cover;
          border-radius: 50%;
          border: 4px solid #e4f8ff;
        }
        .text_area {
          width: 76%;
          .title {
            font-size: 1.8rem;
            font-weight: bold;
            color: $mainColor;
            margin-bottom: 10px;
          }
          .text {
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: .01rem;
          }
        }
      }
    }
  }
}

.case {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    li {
      display: flex;
      justify-content: space-between;
      width: 49%;
      height: 330px;
      background-color: $baseColor;
      margin-bottom: 20px;
      box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
      border-radius: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
      img {
        width: 43%;
        border-radius: 10px 0 0 10px;
      }
      .text_area {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 55%;
        padding: 30px;
        box-sizing: border-box;
        .name {
          font-size: 2.2rem;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: -.2rem;
          .small {
            display: block;
            font-size: 1.3rem;
            line-height: 1.3;
          }
        }
        .price {
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1;
          padding-bottom: 20px;
          position: relative;
          .large {
            font-family: 'Oswald', sans-serif;
            font-size: 4.6rem;
            font-weight: 500;
          }
          .small {
            font-size: 1.2rem;
            font-weight: normal;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0;
          }
        }
      }
    }
  }
  .more_btn {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    a {
      font-size: 1.5rem;
      font-weight: bold;
      color: $mainColor;
      background-color: $baseColor;
      padding: 10px 40px 10px 20px;
      box-sizing: border-box;
      border: 2px solid $mainColor;
      border-radius: 30px;
      position: relative;
      &:hover {
        color: $baseColor;
        background-color: $mainColor;
        cursor: pointer;
        transition: all .3s ease-in-out;
      }
      &:after {
        content: "▶︎";
        font-size: 1.2rem;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
  }
}

.area {
  h3.sub_title {
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      font-size: 1.5rem;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .prefecture {
        display: inline-block;
        font-weight: bold;
        color: $mainColor;
        background-color: $baseColor;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-bottom: 5px;
        box-shadow: 0 0 5px rgba($color: #c7d4d9, $alpha: .5);
        border-radius: 30px;
      }
      .city {
        font-weight: 500;
        line-height: 1.7;
      }
    }
  }
}

.flow {
  ul {
    padding: 0 80px;
    box-sizing: border-box;
    &.free {
      margin-bottom: 20px;
      position: relative;
      &:before {
        content: "無料対応";
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
        writing-mode: vertical-rl;
        letter-spacing: 1rem;
        height: 100%;
        color: $mainColor;
        background-color: $accentColor;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 140px;
      background-color: $baseColor;
      padding: 30px 40px;
      box-sizing: border-box;
      margin-bottom: 20px;
      box-shadow: 0 0 20px rgba($color: #000, $alpha: .2);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        content: "";
        width: 200px;
        height: 100%;
        background-color: #e4f8ff;
        position: absolute;
        top: 0;
        left: -60px;
        transform: skewX(-35deg);
      }
      .step_title {
        font-family: 'Oswald', sans-serif;
        font-size: 3.5rem;
        font-weight: 500;
        width: 19%;
        color: $mainColor;
        z-index: 1;
        .large {
          font-size: 4.8rem;
        }
      }
      .text_area {
        width: 78%;
        .title {
          font-size: 2.2rem;
          font-weight: bold;
          letter-spacing: .01rem;
          margin-bottom: 10px;
        }
        .text {
          font-weight: 500;
          letter-spacing: .03rem;
          line-height: 1.6;
          a {
            text-decoration: underline;
            text-decoration-thickness: 1%;
            color: $mainColor;
          }
        }
      }
    }
  }
}
