@charset "UTF-8";
@import url("reset.css");
/* 色コード */
/* ============================================ */
/* ブレイクポイント */
/* ============================================ */
/* 画面サイズ表示・非表示 */
/* ============================================ */
.sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

/* 共通設定 */
/* ============================================ */
html {
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  color: #232323;
  background-color: #fff;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 6rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}

img {
  width: 100%;
}

/* レスポンシブ */
/* ============================================ */
@media screen and (max-width: 1024px) {
  .container {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 40px 20px;
  }
}

/* header */
/* ============================================ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background-color: #fff;
  padding: 16px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li:last-of-type {
  margin-right: 0;
}

header nav .contact_btn a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #16a8e0;
  padding: 18px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

header nav .contact_btn a:hover {
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

/* top */
/* ============================================ */
.top {
  background-color: #cecece;
  margin-top: 90px;
}

.top .container {
  padding: 60px 80px;
}

.top_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top_left .main_text {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: .8rem;
  line-height: 1.3;
  margin-bottom: 10px;
}

.top_left .main_text span {
  color: #16a8e0;
}

.top_left .area_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_left .area_list li {
  font-size: 1.3rem;
  font-weight: bold;
  color: #16a8e0;
  background-color: #fff;
  padding: 6px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5px;
  -webkit-box-shadow: 0 0 10px rgba(61, 141, 172, 0.2);
          box-shadow: 0 0 10px rgba(61, 141, 172, 0.2);
  border-radius: 30px;
}

.top_left .area_list li:last-of-type {
  margin-right: 0;
}

.top_right .achievement_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .bottom_area {
  margin-top: 20px;
  position: relative;
}

.top .bottom_area .sub_text {
  background-color: #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.top .bottom_area .sub_text .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 2.5rem;
  font-weight: bold;
  color: #16a8e0;
  margin-bottom: 15px;
}

.top .bottom_area .sub_text .title:before {
  content: url(../images/exclamation_icon.png);
  display: inline-block;
  margin-right: 7px;
}

.top .bottom_area .sub_text .text {
  font-size: 1.4rem;
  letter-spacing: .01rem;
  line-height: 1.7;
}

.top .bottom_area .sub_text .text .blue_marker {
  text-decoration: underline;
  text-decoration-thickness: .8rem;
  -webkit-text-decoration-color: #d9f3fd;
          text-decoration-color: #d9f3fd;
  text-underline-offset: -0.5rem;
  text-decoration-skip-ink: none;
}

.top .bottom_area .contact_banner {
  -webkit-box-shadow: 0 0 20px rgba(61, 141, 172, 0.2);
          box-shadow: 0 0 20px rgba(61, 141, 172, 0.2);
  position: absolute;
  top: 0;
  right: -210px;
}

.top .bottom_area .contact_banner a:hover {
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

/* main */
/* ============================================ */
/* footer */
/* ============================================ */
/*# sourceMappingURL=style.css.map */