@charset "UTF-8";
@import url("reset.css");
/* 色コード */
/* ============================================ */
/* ブレイクポイント */
/* ============================================ */
/* 画面サイズ表示・非表示 */
/* ============================================ */
.sp {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .tab {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

/* 共通設定 */
/* ============================================ */
html {
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  color: #232323;
  background-color: #fff;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}

h2.sub_title {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 50px;
}

h2.sub_title .decorate {
  display: block;
  font-size: 2.5rem;
  position: relative;
}

h2.sub_title .decorate:before, h2.sub_title .decorate:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 2rem;
  margin: 0 15px;
  background-color: #aee5fc;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
}

h2.sub_title .small {
  font-size: 3.8rem;
}

h3.sub_title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

h3.sub_title:before, h3.sub_title:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 2.5rem;
  margin: 0 15px;
  background-color: #aee5fc;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
}

img {
  width: 100%;
}

.blue_marker {
  text-decoration: underline;
  text-decoration-thickness: .8rem;
  -webkit-text-decoration-color: #d9f3fd;
          text-decoration-color: #d9f3fd;
  text-underline-offset: -0.5rem;
  text-decoration-skip-ink: none;
}

.yellow_marker {
  text-decoration: underline;
  text-decoration-thickness: .8rem;
  -webkit-text-decoration-color: #fff4ac;
          text-decoration-color: #fff4ac;
  text-underline-offset: -0.5rem;
  text-decoration-skip-ink: none;
}

/* レスポンシブ */
/* ============================================ */
@media screen and (max-width: 1024px) {
  .container {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 40px 20px;
  }
  h2.sub_title {
    font-size: 3.8rem;
    margin-bottom: 30px;
  }
}

/* header */
/* ============================================ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background-color: #fff;
  padding: 15px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  header {
    height: 80px;
    padding: 15px 40px;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
    padding: 15px 30px;
  }
}

header .logo {
  width: 210px;
}

@media screen and (max-width: 1024px) {
  header .logo {
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  header .logo {
    width: 150px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li:last-of-type {
  margin-right: 0;
}

header nav .contact_btn a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #16a8e0;
  padding: 18px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

header nav .contact_btn a:hover {
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  header nav .contact_btn a {
    padding: 15px 18px;
  }
}

@media screen and (max-width: 767px) {
  header nav .contact_btn a {
    padding: 10px 15px;
  }
}

/* top */
/* ============================================ */
.top {
  background: url(../images/top_bg_left.png) left 0% top 0%/25% auto no-repeat, url(../images/top_bg_right.png) right 0% bottom 50px/66% auto no-repeat;
  margin-top: 90px;
}

@media screen and (max-width: 1024px) {
  .top {
    background: url(../images/top_bg_left.png) left 0% top 0%/25% auto no-repeat, url(../images/top_bg_right.png) right 0% top 0%/66% 85% no-repeat;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .top {
    background: url(../images/top_bg_left.png) left 0% top 0%/30% auto no-repeat, url(../images/top_bg_right.png) right 0% top 0%/100% 60% no-repeat;
    margin-top: 60px;
  }
}

.top .container {
  padding: 90px 80px 0;
}

@media screen and (max-width: 1024px) {
  .top .container {
    padding: 60px 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .top .container {
    padding: 40px 40px 0;
  }
}

.top_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .top_area {
    padding-right: 5px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .top_area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
}

.top_left .main_text {
  font-size: 5.8rem;
  font-weight: 900;
  letter-spacing: .8rem;
  line-height: 1.3;
  white-space: nowrap;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .top_left .main_text {
    font-size: 5rem;
  }
}

.top_left .main_text .small {
  font-size: 5rem;
}

@media screen and (max-width: 1024px) {
  .top_left .main_text .small {
    font-size: 4.2rem;
  }
}

.top_left .main_text .blue {
  color: #16a8e0;
}

.top_left .area_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_left .area_list li {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .1rem;
  color: #16a8e0;
  background-color: #fff;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 6px;
  -webkit-box-shadow: 0 0 10px rgba(61, 141, 172, 0.2);
          box-shadow: 0 0 10px rgba(61, 141, 172, 0.2);
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .top_left .area_list li {
    padding: 3px 7px;
    margin-right: 3px;
  }
}

@media screen and (max-width: 767px) {
  .top_left .area_list li {
    padding: 2px 5px;
  }
}

.top_left .area_list li:last-of-type {
  margin-right: 0;
}

.top_right .achievement_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_right .achievement_list li {
  margin-left: 12px;
}

@media screen and (max-width: 1024px) {
  .top_right .achievement_list li {
    margin-left: 6px;
  }
}

@media screen and (max-width: 767px) {
  .top_right .achievement_list li {
    width: 31%;
    margin: 10px 0 0;
  }
}

.top .bottom_area {
  position: relative;
}

.top .bottom_area .sub_text {
  background-color: #fff;
  padding: 25px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .top .bottom_area .sub_text {
    width: 78%;
    padding: 20px 25px;
  }
}

@media screen and (max-width: 767px) {
  .top .bottom_area .sub_text {
    width: 100%;
    padding: 15px 20px;
  }
}

.top .bottom_area .sub_text .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 2.5rem;
  font-weight: bold;
  line-height: 1;
  color: #16a8e0;
  margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  .top .bottom_area .sub_text .title {
    margin-bottom: 10px;
  }
}

.top .bottom_area .sub_text .title:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/exclamation_icon.png) center center/contain no-repeat;
  margin-right: 7px;
}

@media screen and (max-width: 767px) {
  .top .bottom_area .sub_text .title:before {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }
}

.top .bottom_area .sub_text .text {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -.03rem;
  line-height: 1.7;
}

.top .bottom_area .contact_banner {
  -webkit-box-shadow: 0 0 20px rgba(61, 141, 172, 0.2);
          box-shadow: 0 0 20px rgba(61, 141, 172, 0.2);
  position: absolute;
  top: 0;
  right: -210px;
}

.top .bottom_area .contact_banner a:hover {
  opacity: .85;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .top .bottom_area .contact_banner {
    width: 20%;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .top .bottom_area .contact_banner {
    width: 40%;
    top: auto;
    bottom: 0;
    right: -30px;
  }
}

/* main */
/* ============================================ */
.main_bg1 {
  background: url(../images/main_bg1.png) left 0% top 100px/100% 100% no-repeat;
}

.main_bg2 {
  background: url(../images/main_bg2.png) left 0% top 320px/100% 100% no-repeat;
  position: relative;
}

.main_bg2:after {
  content: url(../images/bottom_bg.png);
  position: absolute;
  bottom: 0;
  right: 0;
}

.content {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 40px;
  }
}

.content .main_text {
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 50px;
}

.content .content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content_list li {
  width: 49%;
  height: 150px;
  background-color: #fff;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .content .content_list li {
    width: 75%;
    height: 130px;
    margin: 0 auto 15px;
  }
}

@media screen and (max-width: 767px) {
  .content .content_list li {
    width: 100%;
    height: 120px;
  }
}

.content .content_list li .tag_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content_list li .tag_area span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding: 3px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5px;
  border-radius: 30px;
}

.content .content_list li .tag_area span:last-of-type {
  margin-right: 0;
}

.content .content_list li .tag_area span.dark_blue {
  background-color: #187cd0;
}

.content .content_list li .tag_area span.light_blue {
  background-color: #16cbe0;
}

.content .content_list li .tag_area span.green {
  background-color: #16e0b3;
}

.content .content_list li .tag_area span.black {
  background-color: #111;
}

.content .content_list li .content_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .content .content_list li .content_area {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 767px) {
  .content .content_list li .content_area {
    padding: 15px 10px;
  }
}

.content .content_list li .content_area .name {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: -.2rem;
  width: 49%;
}

.content .content_list li .content_area .price {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  width: 49%;
  padding-bottom: 10px;
  position: relative;
}

.content .content_list li .content_area .price .large {
  font-family: 'Oswald', sans-serif;
  font-size: 4.6rem;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .content .content_list li .content_area .price .large {
    font-size: 4rem;
  }
}

.content .content_list li .content_area .price .small {
  font-size: 1.2rem;
  font-weight: normal;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.content .price_content {
  background-color: #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .content .price_content {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .content .price_content {
    width: 100%;
    padding: 20px;
  }
}

.content .price_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .content .price_content .title {
    margin-bottom: 15px;
  }
}

.content .price_content .title:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/price_content_icon.png) center center/contain no-repeat;
  margin-right: 7px;
}

.content .price_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .price_content ul li {
  font-size: 1.5rem;
  font-weight: 500;
  width: 58%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .content .price_content ul li {
    width: 100%;
  }
}

.content .price_content ul li:before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #aee5fc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .price_content ul li:nth-of-type(even) {
  width: 40%;
}

@media screen and (max-width: 1024px) {
  .content .price_content ul li:nth-of-type(even) {
    width: 100%;
  }
}

.trouble ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trouble ul li {
  width: 24%;
  position: relative;
}

.trouble ul li:before {
  content: url(../images/question_icon.png);
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.trouble ul li img {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.trouble ul li p {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .01rem;
  line-height: 1.3;
  text-align: center;
  margin-top: 15px;
}

.point ul li {
  background-color: #fff;
  background-image: linear-gradient(125deg, #16a8e0 160px, transparent 0);
  padding: 50px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.point ul li:last-of-type {
  margin-bottom: 0;
}

.point ul li:before {
  content: url(../images/point_title1.png);
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.point ul li:nth-of-type(2):before {
  content: url(../images/point_title2.png);
}

.point ul li:nth-of-type(3):before {
  content: url(../images/point_title3.png);
}

.point ul li .sub_title {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: .01rem;
  text-align: center;
  margin-bottom: 30px;
}

.point ul li .sub_title .large {
  font-family: 'Oswald', sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
}

.point ul li .main_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.point ul li .main_area img {
  width: 48%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.point ul li .main_area p {
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: .03rem;
  width: 48%;
}

.point ul li .main_area p .blue_marker {
  font-weight: bold;
}

.point ul li .comment_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6fdff;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #e4f8ff;
  border-radius: 5px;
}

.point ul li .comment_area img {
  width: 20%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e4f8ff;
}

.point ul li .comment_area .text_area {
  width: 76%;
}

.point ul li .comment_area .text_area .title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #16a8e0;
  margin-bottom: 10px;
}

.point ul li .comment_area .text_area .text {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .01rem;
}

.case {
  padding-bottom: 120px;
}

.case ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.case ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 49%;
  height: 330px;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.case ul li:last-of-type {
  margin-bottom: 0;
}

.case ul li img {
  width: 43%;
  border-radius: 10px 0 0 10px;
}

.case ul li .text_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.case ul li .text_area .name {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -.2rem;
}

.case ul li .text_area .name .small {
  display: block;
  font-size: 1.3rem;
  line-height: 1.3;
}

.case ul li .text_area .price {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 20px;
  position: relative;
}

.case ul li .text_area .price .large {
  font-family: 'Oswald', sans-serif;
  font-size: 4.6rem;
  font-weight: 500;
}

.case ul li .text_area .price .small {
  font-size: 1.2rem;
  font-weight: normal;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.case .more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.case .more_btn a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #16a8e0;
  background-color: #fff;
  padding: 10px 40px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #16a8e0;
  border-radius: 30px;
  position: relative;
}

.case .more_btn a:hover {
  color: #fff;
  background-color: #16a8e0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.case .more_btn a:after {
  content: "▶︎";
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.area {
  margin-top: -160px;
}

.area h3.sub_title {
  margin-bottom: 30px;
}

.area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.area ul li {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.area ul li:last-of-type {
  margin-bottom: 0;
}

.area ul li .prefecture {
  display: inline-block;
  font-weight: bold;
  color: #16a8e0;
  background-color: #fff;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 5px rgba(199, 212, 217, 0.5);
          box-shadow: 0 0 5px rgba(199, 212, 217, 0.5);
  border-radius: 30px;
}

.area ul li .city {
  font-weight: 500;
  line-height: 1.7;
}

.flow ul {
  padding: 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flow ul.free {
  margin-bottom: 20px;
  position: relative;
}

.flow ul.free:before {
  content: "無料対応";
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 1rem;
  height: 100%;
  color: #16a8e0;
  background-color: #fff4ac;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.flow ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  background-color: #fff;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.flow ul li:last-of-type {
  margin-bottom: 0;
}

.flow ul li:before {
  content: "";
  width: 200px;
  height: 100%;
  background-color: #e4f8ff;
  position: absolute;
  top: 0;
  left: -60px;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
}

.flow ul li .step_title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  width: 19%;
  color: #16a8e0;
  z-index: 1;
}

.flow ul li .step_title .large {
  font-size: 4.8rem;
}

.flow ul li .text_area {
  width: 78%;
}

.flow ul li .text_area .title {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: .01rem;
  margin-bottom: 10px;
}

.flow ul li .text_area .text {
  font-weight: 500;
  letter-spacing: .03rem;
  line-height: 1.6;
}

.flow ul li .text_area .text a {
  text-decoration: underline;
  text-decoration-thickness: 1%;
  color: #16a8e0;
}

.voice ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.voice ul li .text_area {
  width: 60%;
  background-color: #f4fcff;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.voice ul li .text_area .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.voice ul li .text_area .name .age {
  font-size: 1.5rem;
  line-height: 1;
  color: #fff;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
  border-radius: 30px;
}

.voice ul li .text_area .name .age.woman {
  background-color: #f3889f;
}

.voice ul li .text_area .name .age.man {
  background-color: #88ccf3;
}

.voice ul li .text_area .text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -.01rem;
}

.voice ul li .pickup_area {
  width: 40%;
  background-color: #fff;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.voice ul li .pickup_area .title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #16a8e0;
  margin-bottom: 20px;
  position: relative;
}

.voice ul li .pickup_area .title:before, .voice ul li .pickup_area .title:after {
  content: "";
  width: 33%;
  height: 5px;
  background-color: #aee5fc;
  position: absolute;
  bottom: 0;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
}

.voice ul li .pickup_area .title:before {
  left: 0;
}

.voice ul li .pickup_area .title:after {
  right: 0;
}

.voice ul li .pickup_area .text {
  display: inline;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.2;
  letter-spacing: -.01rem;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #aee5fc;
}

.voice ul li .pickup_area .text.fake {
  display: block;
  margin-top: -5px;
}

.contact .qr_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72%;
  background-color: #fff;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 90px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contact .qr_area .text_area {
  width: 70%;
}

.contact .qr_area .text_area .line_title {
  width: 300px;
  margin-bottom: 10px;
}

.contact .qr_area .text_area span {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: #06c755;
  padding: 7px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 30px;
}

.contact .qr_area .text_area p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
}

.contact .qr_area .line_qr {
  width: 24%;
}

.contact .contact_form dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact .contact_form dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .2rem;
  width: 22%;
  margin-bottom: 30px;
}

.contact .contact_form dl dt.vertical_top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact .contact_form dl dt .must {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #16a8e0;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

.contact .contact_form dl dd {
  width: 76%;
  margin-bottom: 40px;
}

.contact .contact_form dl dd:last-of-type {
  margin-bottom: 0;
}

.contact .contact_form dl dd input[type="text"], .contact .contact_form dl dd input[type="email"], .contact .contact_form dl dd textarea {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c6dce5;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact .contact_form dl dd input[type="text"]:focus, .contact .contact_form dl dd input[type="email"]:focus, .contact .contact_form dl dd textarea:focus {
  background-color: #f2f2f2;
}

.contact .contact_form dl dd textarea {
  min-height: 180px;
}

.contact .contact_form dl dd input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.contact .contact_form dl dd .type_label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 55px;
  margin-bottom: 30px;
  position: relative;
}

.contact .contact_form dl dd .type_label:last-of-type {
  margin-bottom: 0;
}

.contact .contact_form dl dd .type_label:before, .contact .contact_form dl dd .type_label:after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .contact_form dl dd .type_label:before {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #c6dce5;
  left: 0;
}

.contact .contact_form dl dd input[type="radio"]:checked + .type_label:after {
  width: 18px;
  height: 18px;
  background-color: #232323;
  left: 11px;
}

.contact .contact_form dl dd .pref_select {
  width: 22%;
  background-color: #fff;
  border: 1px solid #c6dce5;
  border-radius: 5px;
  position: relative;
}

.contact .contact_form dl dd .pref_select:after {
  content: "▼";
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.contact .contact_form dl dd .pref_select select {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .contact_form dl dd input[type="number"] {
  width: 22%;
  background-color: #fff;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c6dce5;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact .contact_form dl dd .error {
  color: red;
  cursor: default;
}

.contact .contact_form .submit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact .contact_form .submit_btn input {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: #16a8e0;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

.contact .contact_form .submit_btn input:hover {
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  text-align: center;
}

.thanks .main_text {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.thanks .sub_text {
  font-size: 1.8rem;
  margin-bottom: 60px;
}

.thanks .back_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.thanks .back_btn a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: #16a8e0;
  padding: 15px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

.thanks .back_btn a:hover {
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

/* footer */
/* ============================================ */
footer {
  text-align: center;
  padding-top: 120px;
  position: relative;
  z-index: 2;
}

footer .copyright {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */